mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        if video.thumbUrl.startsWith("https://")
            div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl});background-size:cover;background-position:center;`)
        else
            div.video-mixin__thumb(style=`background-image:url(/${video.thumbUrl});background-size:cover;background-position:center;`)
        div.video-mixin__data
            div.video-mixin__header
                if video.owner.avatarUrl.includes("k.kakaocdn.net")
                    img.video-mixin__owner-avatar(src=video.owner.avatarUrl)
                else
                    if video.owner.avatarUrl.startsWith("https://") 
                        img.video-mixin__owner-avatar(src=video.owner.avatarUrl,crossorigin)
                    else 
                        img.video-mixin__owner-avatar(src="/"+video.owner.avatarUrl,crossorigin)
                div.video-mixin__title=video.title
            div.video-mixin__meta
                span #{video.owner.name} | 
                span 조회수 : #{video.meta.views} 회
                div.video-mixin__meta-createtime #{video.createdAt.toLocaleString()}
