extends layout.pug

block content
    div#videoContainer(data-id=video._id)
        video(src="/"+video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00:00
                    span  / 
                    span#totalTime 00:00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    div.video__data
        div.video__data-hashtag 
            each hashtag in video.hashtags    
                span=hashtag     
        p.video__title=video.title
        div.video__meta-container
            small.video__views 조회수 : #{video.meta.views} 회
            small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        div.video__description
            div #{video.description}
            div.video__iconscontainer
                div.video-like#videoLike 
                    i.fas.fa-thumbs-up  #{video.meta.like} 좋아요
                div.video-unlike#videoUnLike 
                    i.fas.fa-thumbs-down  #{video.meta.unlike} 싫어요
                div.video-share#videoShare 
                    i.fas.fa-share 공유
        div.video__bottom
            div.video__owner-container
                div.video__owner-info
                    img.video__owner-avatar(src=video.owner.avatarUrl)
                    div.video__owner
                        a(href=`/users/${video.owner._id}`)=video.owner.name
                div.video__subscript-container
                    div.video__subscript 구독
            if isLoggedIn
                div.video__comments
                    form.video__comments-form#commentForm
                        a(href=`/users/${user._id}`)
                            if !user.avatarUrl
                                span 😀
                            else
                                if user.avatarUrl.includes("k.kakaocdn.net")
                                    img.video__comments__avatar(src=user.avatarUrl)
                                else
                                    if user.avatarUrl.startsWith("https://") 
                                        img.video__comments__avatar(src=user.avatarUrl,crossorigin)
                                    else 
                                        img.video__comments__avatar(src="/"+user.avatarUrl,crossorigin)
                        textarea(name="",row="1",placeholder="Write a comment...")
                        button.video__comment-addbtn Add Comment
        
        if String(video.owner._id) === String(user._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
        div.video__commentlist
            ul 
                each comment in video.comments.reverse()
                    li.video__comment(data-id=comment.id)
                        if comment.owner.avatarUrl.includes("k.kakaocdn.net")
                            img.video__comments__avatar(src=comment.owner.avatarUrl)
                        else
                            if comment.owner.avatarUrl.startsWith("https://") 
                                img.video__comments__avatar(src=comment.owner.avatarUrl,crossorigin)
                            else
                                img.video__comments__avatar(src="/"+comment.owner.avatarUrl,crossorigin)
                        div
                            div.video__comments__owner
                                div.comment__username #{comment.owner.username}
                                small.comment__createdAt=comment.createdAt.toLocaleString()
                            span.video__comments-text  #{comment.text}
                        

block scripts 
    script(src="/static/js/videoPlayer.js")
    if isLoggedIn
        script(src="/static/js/commentSection.js")